

/* MAIN SECTION */
.branding {
  min-height: 100vh;
  background: radial-gradient(circle at center, #000, #000000);
}

.branding-hero {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.branding-hero img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  display: block;

  /* This creates the fade effect at the bottom */
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.branding-hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh; /* Adjust height of the fade */
  background: linear-gradient(to bottom, transparent, #000000);
  z-index: 5; /* Sits above the image but below the H2 */
}



.branding-hero h2 {
  font-family: 'Barques', sans-serif;
  font-size: 90px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 18px; 
  position: absolute;
  top: 25%;
  z-index: 10;
  color: #c7c5c5;
  mix-blend-mode: normal;
  text-shadow: 0 0 10px rgba(74, 222, 128, 0.7);
}

.coverpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.branding-card {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .35s ease, box-shadow .35s ease;
}

.branding-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.branding-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0, 0, 0, .45);
}

/* Glassmorphism Overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  opacity: 0;
  transition: all .4s ease;
  
  background: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.overlay h3 {
  color: white;
  font-size: 22px;
  margin: 0;
  letter-spacing: 1px;
}

.branding-card:hover .overlay {
  opacity: 1;
}

/* TABLET */
@media(max-width: 1024px) {
  .branding-card {
    width: 90%;
    height: 260px;
  }
  
  .branding-hero h2 {
    font-size: 70px;
    letter-spacing: 4px;
  }
}

/* MOBILE */
@media(max-width: 600px) {
  .coverpage {
    padding: 60px 20px;
  }

  .branding-hero {
    height: 60vh;
  }

  .branding-hero h2 {
    font-size: 44px;
    text-align: center;
    letter-spacing: 2px;
    top: 40%;
  }

  .branding-card {
    height: 220px;
  }
}